h1 {

text-align: center;
font-size: 40pt;
color: rgb(43, 226, 104);


}

h2 {
color: rgb(189, 8, 39)
padding: 15%;


}

button {

backface-visibility: inherit;

padding: 0cm;

}


.container {

    background-color: lightpink;
    padding: 7%;

}
body {

    background-color: rgb(164, 11, 184);
}