









h1 {

text-align: center;
font-size: 40pt;
color: blueviolet;





}

h2 {

padding: 15%;



}

button {

backface-visibility: inherit;

padding: 0cm;





}
.container {

    background-color: lightpink;
    padding: 7%;

}
